  <!-- This now goes to another "page" localhost/contact-us -->
  <router-outlet></router-outlet>


  <h1>{{movie.Title | lowercase | ucfirst}}</h1>

<img [src]="movie.Poster"/>

<form [formGroup]="myForm" >
  <div>
    <label for="name">Search movies</label>
    <input id="name" type="text" formControlName="name" (keyup)="onKeyUp($event, 'dante')" (keydown)="onKeyDown($event)" (keypress)="onKeyPress($event)">
    <!-- When we start typing into the address field keep an eye out for these actions -->
  </div>
  <button (click)="search()" class="button" type="submit">Search</button>
</form>

<div *ngIf="isDone">
    <div class="row">
      <div *ngFor="let movie of movies">
            <img [src]="movie.Poster">
            <h4>{{movie.Title}}</h4>
            <h5>{{movie.Year}}</h5>
            <button (click)="goDetails(movie)" class="button" type="button">Details</button>
      </div>
    </div>
  </div>
