<nav class="navbar text-light bg-dark justify-content-between">
    <h2>Angular Movie App</h2>
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2Fc%2Fcf%2FAngular_full_color_logo.svg%2F1200px-Angular_full_color_logo.svg.png&f=1&nofb=1" alt="angular icon" width="50" height="50">
</nav>
  
  <!-- This now goes to another "page" localhost/contact-us -->
  <router-outlet></router-outlet>

<!-- moving search form to search component -->

  <footer class="fixed-bottom bg-light mt-auto mt-5">
    <div class="container">
        <span class="text-muted">Jessica Everington</span>
    </div>
</footer>